<section>
  <h1>Angular Facebook Utils: Facebook Login Button</h1>

  <pre class='marginTop'>&lt;facebook-login firebase='https://davidchang.firebaseio.com/credentials' show-configure='true'&gt;&lt;/facebook-login&gt;</pre>

  <facebook-login firebase='https://davidchang.firebaseio.com/credentials' show-configure='true' channel-file='channel.html'></facebook-login>

  <h3 ng-show='facebookResponse.status == "connected"'>Hello, {{loggedInUser.name}}!</h3>
  <h3 ng-hide='facebookResponse.status == "connected"'>Hello, Stranger!</h3>
</section>

<section>
  <h1>Usage</h1>
  <ol>
    <li><code>bower install angular-facebook-utils</code></li>
    <li>
      <div>Include facebookUtils.min.js:</div>
      <code>&lt;script src="bower_components/angular-facebook-utils/src/facebookUtils.min.js&gt;&lt;/script&gt;</code>
      <div>or facebookUtilsFirebase.min.js</div>
      <code>&lt;script src="bower_components/angular-facebook-utils/src/facebookUtilsFirebase.min.js&gt;&lt;/script&gt;</code>
    </li>
    <li>Add the <code>facebookUtils</code> module as a dependency of your Angular application</li>
    <li>Run your server</li>
    <li>Click the login button and it will give you configuration instructions</li>
  </ol>
</section>

<section>
  <h1>Examples</h1>
  <section>
    <h3>Use Firebase, No permissions:</h3>
    <pre class='marginTop'>&lt;facebook-login firebase='https://davidchang.firebaseio.com/credentials'&gt;&lt;/facebook-login&gt;</pre>
  </section>

  <section>
    <h3>Use Firebase, Request permissions:</h3>
    <pre class='marginTop'>&lt;facebook-login firebase='https://davidchang.firebaseio.com/credentials' permissions='user_photos,user_likes'&gt;&lt;/facebook-login&gt;</pre>
  </section>

  <section>
    <h3>Don't use Firebase, Request permissions:</h3>
    <pre class='marginTop'>&lt;facebook-login permissions='user_photos,user_likes' app-id='335763733225618'&gt;&lt;/facebook-login&gt;</pre>
  </section>

  <section>
    <h3>Use Firebase, Always show Configuration step, Request permissions:</h3>
    <pre class='marginTop'>&lt;facebook-login firebase='https://davidchang.firebaseio.com/credentials' permissions='user_photos,user_likes' show-configure='true'&gt;&lt;/facebook-login&gt;</pre>
  </section>
</section>

<section>
  <h1>Options</h1>
  <table class='table table-striped'>
    <thead>
      <tr><th>Attribute Name</th><th>Description</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>firebase</td>
        <td>Your firebase URL</td>
      </tr>
      <tr>
        <td>app-id</td>
        <td>Your Facebook ID (required if Firebase is disabled)</td>
      </tr>
      <tr>
        <td>permissions</td>
        <td>Comma separated String for the Facebook permissions you want to request</td>
      </tr>
      <tr>
        <td>show-configure</td>
        <td>Always show configuration step (only applicable if Firebase is enabled)</td>
      </tr>
      <tr>
        <td>channel-file</td>
        <td>The filepath to your channel file (defaults to 'channel.html')</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h1>Events</h1>
  <div>Changes in log in status are broadcasted on the root scope along with corresponding data; so you'll just want to set up <code>$scope.$on('event name, like fbLoginSuccess')</code> listeners in your various controllers.
  <table class='table table-striped'>
    <thead>
      <tr><th>Event Name</th><th>Description</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>fbStatusChange</td>
        <td>Change in status</td>
      </tr>
      <tr>
        <td>fbLoginSuccess</td>
        <td>Successfully logged in (will contain a userNotAuthorized property if the user did not authorize permissions</td>
      </tr>
      <tr>
        <td>fbLoginFailure</td>
        <td>Tried to log in, but an error occurred</td>
      </tr>
      <tr>
        <td>fbLogoutSuccess</td>
        <td>Successfully logged out</td>
      </tr>
      <tr>
        <td>fbLogoutFailure</td>
        <td>Tried to log out, but an error occurred</td>
      </tr>
    </tbody>
  </table>
</section>