<style>
  #pageContainer > section {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #CCC;
  }
  #pageContainer > section:last-child {
    border-bottom: 0px solid #CCC;
  }
</style>

<section>
  <h1>Angular Facebook Utils</h1>

  <p>
    Implementing Facebook Login in Meteor is as easy as:
  </p>
  <ol>
    <li><code>mrt add accounts-ui && mrt add accounts-facebook</code></li>
    <li class="ng-non-bindable">Add the line <code>{{loginButtons}}</code> to new-app.html</li>
    <li>Run <code>meteor</code> to start the server</li>
    <li>Click the login button and it will give you configuration instructions</li>
  </ol>
  <p>Meteor can do this, in part, because they own the entire stack. They can save and interpolate values from Mongo.</p>
  <p>Let's make something as simple in Angular, with Firebase as our backend!</p>
</section>

<section>
  <h1>Due Credit</h1>
  <p>I took code and ideas from these 3 places, so they deserve more obvious credit:</p>
  <p><a href='http://blog.brunoscopelliti.com/facebook-authentication-in-your-angularjs-web-app'>http://blog.brunoscopelliti.com/facebook-authentication-in-your-angularjs-web-app</a></p>
  <p><a href='https://github.com/Terumi/AngularJS-Facebook-Login/blob/master/js/app.js'>https://github.com/Terumi/AngularJS-Facebook-Login/blob/master/js/app.js</a></p>
  <p><a href='https://github.com/necolas/css3-social-signin-buttons'>https://github.com/necolas/css3-social-signin-buttons</a></p>
</section>

<section>
  <h1>Final Product: Facebook Login Button</h1>

  <pre class='marginTop'>&lt;facebook-login firebase='https://davidchang.firebaseio.com/credentials' show-configure='true'&gt;&lt;/facebook-login&gt;</pre>

  <facebook-login firebase='https://davidchang.firebaseio.com/credentials' show-configure='true' channel-file='channel.html'></facebook-login>

  <h3 ng-show='facebookResponse.status == "connected"'>Hello, {{loggedInUser.name}}!</h3>
  <h3 ng-hide='facebookResponse.status == "connected"'>Hello, Stranger!</h3>

  <div>See More <a href='#/loginButton'>Details</a>.</div>
</section>

<section>
  <h1>Code</h1>
  <a href='https://github.com/davidchang/angular-facebook-utils'>https://github.com/davidchang/angular-facebook-utils</a>
</section>


<section>
  <h1>Me</h1>
  <a href='http://davidandsuzi.com'>http://davidandsuzi.com</a>
</section>