<!--
This is the unminified partial that could be referenced in the facebookLogin directive. templateUrl: 'views/facebookLoginParital.html'

Minified with http://www.willpeavy.com/minifier/
-->
<div id="facebookLogin">

  <a ng-click="signInOrConfigure()" data-toggle="modal" data-target="#myModal" class="btn-auth btn-facebook">
    <span ng-hide="connected">
      Sign in with <b>Facebook</b>
    </span>
    <span ng-show="connected">
      Sign out
    </span>
  </a>

  <!-- Modal -->
  <div class="modal" ng-class="{fade: !showConfigure, show: showConfigure}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="showConfigure = false">&times;</button>
          <h4 class="modal-title">Configure Facebook Login</h4>
        </div>
        <div class="modal-body">
          <div>
            First, you'll need to register your app on Facebook. Follow these steps:
          </div>
          <ol class="marginTop">
            <li>Visit <a href="https://developers.facebook.com/apps" target="_blank">https://developers.facebook.com/apps</a></li>
            <li>Create New App (Only a name is required.)</li>
            <li>Set "Sandbox Mode" to "Disabled"</li>
            <li>Under "Select how your app integrates with Facebook", expand "Website with Facebook Login".</li>
            <li>Set Site URL to: http://localhost:3000/</li>
          </ol>
          <div>
            Now, copy over some details.
          </div>
          <form role="form" class="marginTop">
            <div class="form-group">
              <label for="appIdInput">Facebook App ID:</label>
              <input id="appIdInput" type="text" ng-model="newAppId" class="form-control" placeholder="App ID">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="showConfigure = false">I'll do this later</button>
          <button type="button" ng-click="saveConfiguration()" class="btn btn-primary">Save configuration</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="fb-root"></div>
</div>